{% extends 'layouts/layout.html' %}
{% block content %}
    <div class="w-full h-full">
        <div class="grid grid-cols-2 mx-16 my-8 lg-max:mx-6 lg-max:my-3 lg-max:grid-cols-1">
            <h1 class="text-3xl">Các sự kiện bạn được tham gia.</h1>
            {% for id in infos %}
            <div class="card-simple w-[600px] lg-max:w-auto my-4 mx-8 rounded-xl">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ infos[id]['event_name'] }}
                    </h3>
                </div>
                <div class="my-4 w-full">
                    <div class="mb-4">
                        <h4 class="text-lg">Thông tin sự kiện: </h4>
                        <p class="text-base text-slate-800">Ngày kết thúc: {{ infos[id]['date_close'] }}</p>
                        <p class="text-base text-slate-800">Trạng thái: {{ infos[id]['event_active'] }}</p>
                    </div>
                    <div class="mb-4">
                        {% if 'selected_number' in infos[id] and 'turn_roll' in infos[id] and 'number_choices' in infos[id] %}
                            <p class="text-base text-slate-800">Bạn đã tham gia sự kiện này</p>
                            <p class="text-base text-slate-800">Bạn đã chọn các số: {{ infos[id]['selected_number'] }}</p>
                            <p class="text-base text-slate-800">
                                Bạn đã chọn {{ infos[id]['number_choices'] }} số, bạn còn <strong>{{ infos[id]['turn_roll'] - infos[id]['number_choices'] }}</strong> lượt chọn.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
