{% extends 'layouts/layout.html' %}
{% block content %}
    <div class="w-full h-full">
        <h1 class="text-3xl my-4 mx-8">Các sự kiện bạn tham gia.</h1>
        <div class="grid grid-cols-2 mx-16 my-8 md-max:mx-2 gap-3 md-max:my-3 md-max:grid-cols-1">
            {% for id in infos %}
                <div class="card-simple w-auto my-4 mx-8 md-max:mx-4 rounded-xl">
                    <div class="card-header">
                        <h3 class="card-title">
                            {{ infos[id]['event_name'] }}
                        </h3>
                    </div>
                    <div class="my-4 w-full mx-8 md-max:w-auto">
                        <div class="mb-4">
                            <h4 class="text-lg">Thông tin sự kiện: </h4>
                            <p class="text-base text-slate-800">Ngày kết thúc: {{ infos[id]['date_close'] }}</p>
                            <p class="text-base text-slate-800">Trạng thái:
                                {% if infos[id]['event_active'] %}
                                    <span class="text-green-600 font-bold">Đang hoạt động</span>
                                {% else %}
                                    <span class="text-red-600 font-bold">Kết thúc</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="mb-4">
                            {% if 'selected_number' in infos[id] and 'turn_roll' in infos[id] and 'number_choices' in infos[id] %}
                                <p class="text-base text-slate-800">Bạn <span class="text-green-600 font-bold">đã tham gia</span>
                                    sự kiện này</p>
                                <p class="text-base text-slate-800 font-bold">Bạn có:</p>
                                <ul class="mt-1 ms-4 md-max:ms-2">
                                    <li class="li-item">Tổng lượt chọn: <span
                                            class="font-bold text-red-500">{{ infos[id]['turn_roll'] }}</span></li>
                                    <li class="li-item">Lượt đã chọn: <span
                                            class="font-bold text-red-500">{{ infos[id]['number_choices'] }}</span>
                                    </li>
                                    <li class="li-item">Lượt còn dư: <span
                                            class="font-bold text-red-500">{{ infos[id]['turn_roll'] - infos[id]['number_choices'] }}</span>
                                    </li>
                                    <li class="li-item">Các số đã chọn: [<span
                                            class="font-medium text-orange-500 flex flex-wrap">{{ infos[id]['selected_number'] }}</span>]
                                    </li>
                                </ul>
                                <div class="mb-4 mt-1">
                                    <a href="{{ url_for('print_info', _id=id) }}"
                                       class="font-medium text-base text-green-600 border-b-2 border-green-500 hover:text-emerald-500 hover:border-emerald-300">Nhấn
                                        để xem bản in trước.</a>
                                </div>
                                <div class="mb-4 mt-1">
                                    <a href="{{ url_for('test', _id=id) }}"
                                       class="font-medium text-base text-green-600 border-b-2 border-green-500 hover:text-emerald-500 hover:border-emerald-300">Template.</a>
                                </div>
                            {% else %}
                                <p class="text-base text-slate-800">Bạn <span class="text-red-600 font-bold">chưa tham gia</span>
                                    sự kiện này</p>
                                <p class="text-base text-slate-800 font-bold">Bạn có: <span
                                        class="text-red-600 font-bold">{{ infos[id]['turn_roll'] }}</span>
                                    <span class="font-normal">lượt chọn.</span></p>
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            <a href="{{ url_for('roll_number', _id=id) }}"
                               class="font-medium text-base text-sky-700 border-b-2 border-sky-600 hover:text-blue-500 hover:border-blue-500">Nhấn
                                để tham gia chọn số.</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
