{% extends 'layouts/layout.html' %}
{% block content %}
    <div class="flex justify-center items-center">
        <div class="card-simple rounded-md md-max:w-full w-[800px] md-max:mx-4">
            <div class="rounded mx-auto text-center mt-4 mb-6 text-4xl font-bold">
                Đăng nhập
            </div>
            <div class="mt-2">
                <form method="POST" class="max-w-md mx-auto">
                    {{ form.csrf_token() }}
                    <fieldset>
                        <div class="form-group">
                            {{ form.username.label(class="input-label w-[128px] md-max:w-[80px]") }}
                            {% if form.username.errors %}
                                {{ form.username(class="form-control is-invalid", style="text-transform:uppercase") }}
                                {% for error in form.username.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.username(class="form-input", placeholder="Tên đăng nhập", style="text-transform:uppercase") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.password.label(class="input-label w-[128px] md-max:w-[80px]") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid") }}
                                {% for error in form.password.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.password(class="form-input", placeholder="Mật khẩu") }}
                            {% endif %}
                        </div>
                        <div class="element-center">
                            <label class="relative inline-flex items-center ms-2 mt-2 mb-2 cursor-pointer">
                                <input type="checkbox" id="remember_me" name="remember_me" class="sr-only peer">
                                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Lưu đăng nhập</span>
                            </label>
                        </div>


                        <div class="mx-auto text-center">
                            {{ form.submit(class="btn-primary w-52 py-2.5") }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
