{% extends 'layouts/layout.html' %}
{% block content %}
    <div class="flex justify-center items-center">
        <div class="card-simple rounded-md md-max:w-full w-[800px] md-max:mx-4">
            <div class="rounded mx-auto text-center mt-4 mb-6 text-4xl font-bold">
                Đăng nhập
            </div>
            <div class="mt-2">
                <form method="POST" class="max-w-md mx-auto">
                    {{ form.csrf_token() }}
                    <fieldset>
                        <div class="form-group">
                            {{ form.username.label(class="input-label w-[128px] md-max:w-[80px]") }}
                            {% if form.username.errors %}
                                {{ form.username(class="form-control is-invalid", style="text-transform:uppercase") }}
                                {% for error in form.username.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.username(class="form-input", placeholder="Tên đăng nhập", style="text-transform:uppercase") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="password"
                                   class="input-label">Mật khẩu</label>
                            <div class="flex w-[90%]">
                                <input type="password" id="password" name="password"
                                       class="rounded-none rounded-s-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                       placeholder="Điền mật khẩu">
                                <span id="button-show-password"
                                      class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-50 hover:bg-gray-200 border border-gray-300 rounded-e-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                                  <svg id="show-password" class="w-4 h-4 text-slate-600 dark:text-white" aria-hidden="true"
                                       xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 14">
                                    <path d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"></path>
                                  </svg>
                                    <svg id="hide-password" class="w-4 h-4 text-slate-600 dark:text-white" aria-hidden="true" title="Ẩn mật khẩu"
                                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="m2 13.587 3.055-3.055A4.913 4.913 0 0 1 5 10a5.006 5.006 0 0 1 5-5c.178.008.356.026.532.054l1.744-1.744A8.973 8.973 0 0 0 10 3C4.612 3 0 8.336 0 10a6.49 6.49 0 0 0 2 3.587Z"></path>
                                    <path d="m12.7 8.714 6.007-6.007a1 1 0 1 0-1.414-1.414L11.286 7.3a2.98 2.98 0 0 0-.588-.21l-.035-.01a2.981 2.981 0 0 0-3.584 3.583c0 .012.008.022.01.033.05.204.12.401.211.59l-6.007 6.007a1 1 0 1 0 1.414 1.414L8.714 12.7c.189.091.386.162.59.211.011 0 .021.007.033.01a2.981 2.981 0 0 0 3.584-3.584c0-.012-.008-.023-.011-.035a3.05 3.05 0 0 0-.21-.588Z"></path>
                                    <path d="M17.821 6.593 14.964 9.45a4.952 4.952 0 0 1-5.514 5.514L7.665 16.75c.767.165 1.55.25 2.335.251 6.453 0 10-5.258 10-7 0-1.166-1.637-2.874-2.179-3.407Z"></path>
                                  </svg>
                                </span>
                            </div>
                        </div>
                        <div class="element-center">
                            <label class="relative inline-flex items-center ms-2 mt-2 mb-2 cursor-pointer">
                                <input type="checkbox" id="remember_me" name="remember_me" class="sr-only peer">
                                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Lưu đăng nhập</span>
                            </label>
                        </div>
                        <div class="mx-auto text-center">
                            {{ form.submit(class="btn-primary w-52 py-2.5") }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const pwField = document.getElementById("password")
        const btnShowPw = document.getElementById("button-show-password")
        const showPassword = document.getElementById("show-password")
        const hidePassword = document.getElementById("hide-password")
        let showPW = false

        btnShowPw.onclick = showPasswordButton
        function showPasswordButton(e) {
            showPW = !showPW
            changeStatus()
        }
        document.addEventListener('DOMContentLoaded', function(){
            changeStatus()
        })

        function changeStatus(){
            console.log("this function")
            if(showPW){
                showPassword.style.display = "none"
                hidePassword.style.display = "block"
                pwField.type = "text"
                btnShowPw.title = "Ẩn mật khẩu"
            } else {
                showPassword.style.display = "block"
                hidePassword.style.display = "none"
                pwField.type = "password"
                btnShowPw.title = "Hiện mật khẩu"
            }
        }
    </script>
{% endblock %}
