{% extends 'layouts/layout.html' %}
{% block content %}
    <div class="flex justify-center items-center">
        <div class="card-simple md-max:w-full w-[800px]">
            <div class="rounded mx-auto text-center text-4xl font-bold">
                Tạo tài khoản
            </div>
            <div class="mt-2">
                <form method="POST" class="max-w-sm mx-auto">
                    {{ form.csrf_token() }}
                    <fieldset>
                        <div class="mb-3">
                            {{ form.username.label(class="input-label") }}
                            {% if form.username.errors %}
                                {{ form.username(class="form-input is-invalid", style="text-transform:uppercase") }}
                                {% for error in form.username.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.username(class="form-input", placeholder="Tên đăng nhập", style="text-transform:uppercase") }}
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{ form.usercode.label(class="input-label") }}
                            {% if form.usercode.errors %}
                                {{ form.usercode(class="form-input is-invalid") }}
                                {% for error in form.usercode.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.usercode(class="form-input", placeholder="Mã khách hàng") }}
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{ form.point.label(class="input-label") }}
                            {% if form.point.errors %}
                                {{ form.point(class="form-input is-invalid") }}
                                {% for error in form.point.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.point(class="form-input", placeholder="Điểm mua hàng") }}
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{ form.password.label(class="input-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-input is-invalid") }}
                                {% for error in form.password.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.password(class="form-input", placeholder="Mật khẩu") }}
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            {{ form.confirm_password.label(class="input-label") }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-input is-invalid") }}
                                {% for error in form.confirm_password.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.confirm_password(class="form-input", placeholder="Xác nhận mật khẩu") }}
                            {% endif %}
                        </div>

                        <div id="event-group">
                            <h3 class="input-label">Sự kiện</h3>
                            {% for event in events %}
                                <label for="{{ event._id }}">
                                    <div class="flex justify-between items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                                        <div class="w-auto py-3">
                                            <input id="{{ event._id }}" type="checkbox"
                                                   value="{{ event['event_name'] }}"
                                                   name="event_name"
                                                   class="checkbox-input w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <span class="py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ event.event_name }}</span>
                                        </div>
                                    </div>
                                </label>
                            {% endfor %}
                        </div>

                        <div class="mt-2 flex justify-center items-center">
                            {{ form.submit(class="btn-primary") }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script>
        const eventGroup = document.getElementById('event-group')
        const checkboxGroup = eventGroup.querySelectorAll('.checkbox-input')
        const btnSubmit = document.querySelector('#submit')
        let value = ''
        data = []

        btnSubmit.addEventListener('click', addInputEvent)

        function addInputEvent(e) {
            for (let i in checkboxGroup) {
                if (checkboxGroup[i].checked) {
                    let data_string = checkboxGroup[i].id
                    data.push(data_string)
                }
                value = data.join('|')
            }
            let input = document.createElement('input')
            input.type = 'hidden'
            input.name = 'join_event'
            input.id = 'join_event'
            input.value = value
            eventGroup.appendChild(input)
        }
    </script>
{% endblock %}
