{% extends 'layouts/layout.html' %}
{% block content %}
    <div class="w-full mt-4">
        <div class="w-full flex justify-start">
            <a href="{{ url_for('admin.account_manager') }}" class="flex justify-center items-center">
                <svg class="w-3 h-3 text-blue-800 hover:text-blue-700 dark:text-white" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 12 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5 1 1 5l4 4m6-8L7 5l4 4"></path>
                </svg>
                <span class="text-blue-500 ms-2 underline hover:text-sky-400">
                    Quản lý tài khoản
                </span>
            </a>
        </div>
    </div>
    <div class="flex mt-4">
        <div class="md-max:element-center md-max:w-[100%]">
            <a href="{{ url_for('admin.account_add_list') }}" class="button-simple">Thêm danh sách</a>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <div class="card-simple rounded-lg md-max:mx-4 md-max:w-full w-[800px]">
            <div class="rounded mx-auto text-center text-4xl mt-4 mb-6 font-bold">
                Tạo tài khoản
            </div>
            <div class="mt-2">
                <form method="POST" class="max-w-md mx-auto">
                    {{ form.csrf_token() }}
                    <fieldset>
                        <div class="form-group">
                            {{ form.username.label(class="input-label") }}
                            {% if form.username.errors %}
                                {{ form.username(class="form-input is-invalid", style="text-transform:uppercase") }}
                                {% for error in form.username.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.username(class="form-input", placeholder="Tên đăng nhập", style="text-transform:uppercase") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.usercode.label(class="input-label") }}
                            {% if form.usercode.errors %}
                                {{ form.usercode(class="form-input is-invalid", style="text-transform:uppercase") }}
                                {% for error in form.usercode.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.usercode(class="form-input", placeholder="Mã khách hàng", style="text-transform:uppercase") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.password.label(class="input-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-input is-invalid") }}
                                {% for error in form.password.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.password(class="form-input", placeholder="Mật khẩu") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.fullname.label(class="input-label") }}
                            {% if form.fullname.errors %}
                                {{ form.fullname(class="form-input is-invalid") }}
                                {% for error in form.fullname.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.fullname(class="form-input", placeholder="Họ và tên") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.address.label(class="input-label") }}
                            {% if form.address.errors %}
                                {{ form.address(class="form-input is-invalid", style="text-transform:uppercase") }}
                                {% for error in form.address.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.address(class="form-input", placeholder="Địa chỉ", style="text-transform:uppercase") }}
                            {% endif %}
                        </div>

                        <div id="event-group" class="w-[90%] mx-auto">
                            {% if events %}
                                <div class="flex justify-between">
                                    <h3 class="text-slate-700 text-lg">Sự kiện</h3>
                                    <h3 class="text-slate-700 text-lg me-4 md-max:me-2">Điểm</h3>
                                </div>
                            {% endif %}
                            {% for event in events %}
                                <label for="{{ event._id }}">
                                    <div class="flex justify-between items-center ps-4 border border-gray-200 rounded-lg dark:border-gray-700 mb-1">
                                        <div class="w-auto py-3">
                                            <input id="{{ event._id }}" type="checkbox"
                                                   value="{{ event['event_name'] }}"
                                                   name="event_name"
                                                   class="checkbox-input w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <span class="py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ event.event_name }}</span>
                                        </div>
                                        <div>
                                            <input id="point-{{ event._id }}" type="number" min="1" max="999999"
                                                   value="1" class="input-point rounded-lg w-20 my-2 me-2 bg-slate-50">
                                        </div>
                                    </div>
                                </label>
                            {% endfor %}
                        </div>

                        <div class="mt-2 mx-auto text-center">
                            {{ form.submit(class="btn-primary w-52 py-2.5") }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script>
        const eventGroup = document.getElementById('event-group')
        const checkboxGroup = eventGroup.querySelectorAll('.checkbox-input')
        const btnSubmit = document.querySelector('#submit')
        let value = ''
        data = []
        const groupInput = document.querySelectorAll('.input-point')

        btnSubmit.addEventListener('click', addInputEvent)

        function addInputEvent(e) {
            for (let i in checkboxGroup) {
                if (checkboxGroup[i].checked) {
                    let pointInput = document.getElementById(`point-${checkboxGroup[i].id}`)
                    console.log(pointInput)
                    let data_string = checkboxGroup[i].id
                    let point = pointInput.value
                    let string_value = data_string + ',' + point
                    data.push(string_value)
                }
                value = data.join('|')
            }
            let input = document.createElement('input')
            input.type = 'hidden'
            input.name = 'join_event'
            input.id = 'join_event'
            input.value = value
            eventGroup.appendChild(input)
        }
    </script>
{% endblock %}
