{% extends 'layouts/layout.html' %}
{% block content %}
    <div class="container">
        <div class="col-md-6 offset-3">
            <div class="card mt-lg-4">
                <div class="card-header">
                    <h1>Edit account</h1>
                    <p>{{ account.username }}</p>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('admin.account_edit', _id=account._id) }}">
                        {{ form.csrf_token() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label") }}
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control is-invalid") }}
                                    {% for error in form.username.errors %}
                                        <div class="invalid-feedback">
                                            <span>{{ error }}</span>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {{ form.username(class="form-control", value=account.username) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.email.label(class="form-control-label", type="email") }}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control is-invalid") }}
                                    {% for error in form.email.errors %}
                                        <div class="invalid-feedback">
                                            <span>{{ error }}</span>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {{ form.email(class="form-control", value=account.email) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.turn_roll.label(class="form-control-label", type="number") }}
                                {% if form.turn_roll.errors %}
                                    {{ form.turn_roll(class="form-control is-invalid", id="turn-roll-input") }}
                                    {% for error in form.turn_roll.errors %}
                                        <div class="invalid-feedback">
                                            <span>{{ error }}</span>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {{ form.turn_roll(class="form-control", value=account.turn_roll) }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="is_active">Hoạt động:</label>
                                <input type="checkbox" id="is_active" name="is_active"
                                       {% if form.is_active.data %}checked{% endif %}>
                            </div>

                            <div class="form-group mt-2">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
