{% extends 'layouts/layout.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
{% endblock header %}
{% block content %}
    <div class="m-4 max-w-full">
        <div class="flex my-8">
            <div class="justify-start items-start">
                <h2 class="text-2xl font-bold">Quản lý tài khoản</h2>
            </div>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="table-1">
                <thead class="table-1-h">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Tài khoản
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Mã KH
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tổng điểm
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Hoạt động
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <a href="{{ url_for('admin.account_create') }}">
                            <span class="text-base font-bold">+</span> Thêm tài khoản
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for acc in accounts %}
                    <tr class="table-1-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ acc.username }}
                        </th>
                        <td class="px-6 py-4">
                            {{ acc.usercode }}
                        </td>
                        <td class="px-6 py-4">
                            {{ acc.point }}
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">
                                {% if acc.is_active %}
                                    <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                                    Đang hoạt động
                                {% else %}
                                    <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div>
                                    Dừng hoạt động
                                {% endif %}
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <a href="{{ url_for('admin.account_edit', _id=acc._id) }}"
                               class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                        <td class="flex items-center px-6 py-4">
                            <a href="{{ url_for('auth.reset_password', _id=acc._id) }}"
                               class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3">Reset
                                password</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
