{% extends 'layouts/layout.html' %}
{% block content %}
    <div class="w-full mt-4">
        <div class="w-full flex justify-start">
            <a href="{{ url_for('admin.account_manager') }}" class="flex justify-center items-center">
                <svg class="w-3 h-3 text-blue-800 hover:text-blue-700 dark:text-white" aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 12 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M5 1 1 5l4 4m6-8L7 5l4 4"></path>
                </svg>
                <span class="text-blue-500 ms-2 underline hover:text-sky-400">
                    Quản lý tài khoản
                </span>
            </a>
        </div>
    </div>
    <div class="flex justify-center items-center">
        <div class="card-simple rounded-lg md-max:mx-4 md-max:w-full w-[800px]">
            <div class="rounded mx-auto text-center text-4xl mt-4 mb-6 font-bold">
                Thêm danh sách user
            </div>
            <div class="mt-2">
                <form method="POST" class="max-w-md mx-auto" enctype="multipart/form-data">
                    <fieldset>
                        <label for="csv_list" class="input-label">Danh sách user (File CSV, Excel...)</label>
                        <input id="csv_list" name="csv_list" type="file" class="form-input-file"
                               accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

                        <div id="event-group" class="w-[90%] mx-auto mt-3">
                            {% if events %}
                                <div class="flex justify-between">
                                    <h3 class="text-slate-700 text-lg">Sự kiện</h3>
                                </div>
                            {% endif %}
                            {% for event in events %}
                                <label for="{{ event._id }}">
                                    <div class="flex justify-between items-center ps-4 border border-gray-200 rounded-lg dark:border-gray-700 mb-1">
                                        <div class="w-auto py-3">
                                            <input id="{{ event._id }}" type="radio"
                                                   value="{{ event._id }}"
                                                   name="event_selected"
                                                   class="checkbox-input w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                            <span class="py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ event.event_name }}</span>
                                        </div>
                                    </div>
                                </label>
                            {% endfor %}
                        </div>

                        <div class="mt-2 text-center mx-auto">
                            <button type="submit" class="btn-primary w-52 py-2.5">Thêm danh sách</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
