{% extends 'layouts/layout.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
{% endblock header %}

{% block content %}
    <div class="w-auto h-auto sm-max:h-full sm-max:w-full -z-20">
        <img src="{{ url_for('static', filename='assets/background.jpg') }}" alt="Background">
    </div>
    <!-- Card modal -->
    <div id="overlay" tabindex="-1"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 bg-slate-700 bg-opacity-75 justify-center items-center w-full md:inset-0 h-full"
    >
        <div class="grid place-items-center mt-40 sm-max:mt-28">
            <div class="card-simple rounded-lg lg:w-[760px] md-max:w-auto" id="main-modal">
                <div class="w-full h-full">
                    <div class="card-header rounded-t-lg bg-green-500 mb-1">
                        <h2 class="card-title text-white">Xác nhận lựa chọn.</h2>
                    </div>
                    <div class="card-content bg-white mt-4 w-auto h-auto ring-1 ring-amber-100 ring-opacity-10">
                        <div class="element-center">
                            <p class="w-auto text-xl md-max:text-2xl">Các số đã chọn:</p>
                        </div>
                        <div class="flex justify-center mt-3 w-auto">
                            <div id="confirm-result"
                                 class="w-auto md-max:w-full grid grid-cols-4 md-max:grid-cols-3 xl-max:text-xl">
                            </div>
                        </div>
                        <div class="flex items-end justify-end me-4">
                            <button type="button" class="button-simple" id="close-modal-btn">Hủy
                            </button>
                            <form id="modal-form" method="post" action="">
                                {{ form.csrf_token() }}
                                {{ form.number(id="modal-input", style="display: none") }}
                                {{ form.submit(class="btn-primary ms-3", id="submit-modal-btn") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <div class="w-auto sm-max:mt-2 -mt-72">
        <div class="element-center">
            <div class="card-simple lg:w-[760px] md-max:w-full">
                <div class="w-full h-full">
                    <div class="card-header bg-green-100 mb-1">
                        <h2 class="card-title">Chọn số may mắn</h2>
                    </div>
                    <div class="card-content bg-white mt-4 w-auto mb-4 h-auto ring-1 ring-amber-100 ring-opacity-10">
                        <div class="mb-4">
                            <div class="flex justify-center items-center">
                                <h3 class="w-auto text-xl md-max:text-2xl font-bold me-4 sm-max:mb-2">Sự
                                    kiện:
                                    "{{ events['event_name'] }}"</h3>
                                <button type="button" id="giftRule" title="Xem giải thưởng"
                                        class="hidden font-normal text-base text-green-500 hover:text-green-700">(Giải
                                    thưởng)
                                </button>
                            </div>
                            <p class="hidden" id="turn_choose">{{ user['turn_roll'] }}</p>
                            <p class="w-auto text-xl text-center md-max:text-2xl sm-max:mb-2">Tài khoản
                                "{{ user['username'] }}"</p>
                            <ul class="flex justify-center md-max:block">
                                <li class="mx-1">Tổng lượt chọn: <span class="text-red-500 font-bold">{{ user['turn_roll'] }}</span>.</li>
                                {% if number_rolled %}
                                    <li class="mx-1">Đã chọn: <span class="text-red-500 font-bold">{{ turn_chosen }}</span> số.</li>
                                    <li class="mx-1">Lượt chọn còn dư: <span class="text-red-500 font-bold">{{ user['turn_roll'] - turn_chosen }}</span>.</li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="element-center max-w-sm mx-auto">
                            <div class="mb-3 mt-3">
                                <label for="input-search-number"
                                       class="block mb-2 text-sm font-medium md:text-base md-max:text-xl text-gray-900 dark:text-white text-center">Nhập
                                    số cần tìm</label>
                                <input type="text" id="input-search-number"
                                       class="input-e w-[300px] md-max:w-full md-max:text-xl xl-max:text-xl"
                                       placeholder="Tìm số"
                                       title="Nhập số cần tìm"
                                >
                            </div>
                        </div>

                        <div class="mt-3">
                            <div class="my-1">
                                <h4 class="text-base text-center" style="display: none;">Các số đã chọn</h4>
                            </div>
                            <div class="flex justify-center w-auto">
                                <div id="show-selected-number"
                                     class="w-auto md-max:w-full grid grid-cols-5 md-max:grid-cols-4 xl-max:text-xl">
                                </div>
                            </div>
                        </div>

                        <div class="element-center mb-3">
                            <button type="button" class="button-simple-green" id="open-modal-btn"
                                    title="Xác nhận chọn số">
                                Xác nhận
                            </button>
                            <button type="button" id="randNum"
                                    class="mt-2 rounded-md bg-green-100 px-4 py-2 text-sm font-medium text-green-800 hover:bg-green-300 hover:ring-1 hover:ring-slate-400 ms-2 md-max:ms-1 md-max:px-2 md-max:w-auto">
                                Ngẫu nhiên
                            </button>
                        </div>
                        <div id="user-id" class="hidden">{{ user['_id'] }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hidden-selected"></div>
        <div id="group-data">
            <div class="mx-32 w-auto md-max:mx-4">
                <div id="item-selecting" style="display: none">
                    {% if number_rolled %}
                        <h2 class="text-2xl">Các số đã chọn. Click chọn lại hoặc chọn số khác</h2>
                        <div class="w-auto grid grid-cols-5">
                            {% for number in number_rolled %}
                                <p id="li-{{ number }}"
                                   class="group-item"
                                   title="Nhấn để chọn số"
                                >{{ number }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <h3 class="text-2xl">Các số khả dụng:</h3>
            </div>
            <div class="w-auto mx-32 my-4 grid grid-cols-10 lg-max:mx-4 lg-max:grid-cols-6">
                {% for number in number_list %}
                    <p id="li-{{ number }}"
                       class="group-item"
                       title="Nhấn để chọn số"
                    >{{ number }}</p>
                {% endfor %}
            </div>

        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/modal-confirm.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/svg.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/number-search.js') }}"></script>
    <script type="text/javascript">
        JdFormModal({
            idOpenModal: 'open-modal-btn',
            idCloseModal: 'close-modal-btn',
            idModalParent: 'overlay',
            idMainModal: 'main-modal',
            idShowNumberToConfirm: 'show-selected-number',
            idModalForm: 'modal-form',
            idModalInput: 'modal-input',
            idModalConfirm: 'confirm-result'
        })
    </script>
{% endblock %}
