{% extends 'layouts/layout.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
{% endblock header %}

{% block content %}
    <iframe src="{{ url_for('static', filename=events['folder_path'] + '/' + events['file_pdf_doc']) }}" height="600"
            class="w-full hidden">
    </iframe>
    <div id="giftRuleImage" style="display: none"
         class="fixed top-0 z-30 bg-slate-700 bg-opacity-75 justify-center items-center w-auto h-auto">
        <img
                src="{{ url_for('static', filename=events['folder_path'] + '/' + events['file_image_doc']) }}"
                alt="Cơ cấu giải thưởng">
    </div>

    <div class="w-auto h-auto sm-max:h-full sm-max:w-full -z-20">
        <img src="{{ url_for('static', filename='assets/background.jpg') }}" alt="Background">
    </div>
    <!-- Card modal -->
    <div id="overlay" tabindex="-1"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 bg-slate-700 bg-opacity-75 justify-center items-center w-full md:inset-0 h-full"
    >
        <div class="grid place-items-center mt-40 sm-max:mt-28">
            <div class="card-simple rounded-lg lg:w-[760px] md-max:w-auto" id="main-modal">
                <div class="w-full h-full">
                    <div class="card-header rounded-t-lg bg-green-500 mb-1">
                        <h2 class="card-title text-white">Xác nhận lựa chọn.</h2>
                    </div>
                    <div class="card-content bg-white mt-4 w-auto h-auto ring-1 ring-amber-100 ring-opacity-10">
                        <div class="element-center">
                            <p class="w-auto text-xl md-max:text-2xl">Các số đã chọn:</p>
                        </div>
                        <div class="flex justify-center mt-3 w-auto">
                            <div id="confirm-result"
                                 class="w-auto md-max:w-full grid grid-cols-4 md-max:grid-cols-3 xl-max:text-xl">
                            </div>
                        </div>
                        <div class="flex items-end justify-end me-4">
                            <button type="button" class="button-simple" id="close-modal-btn">Close
                            </button>
                            <form id="modal-form" method="post" action="">
                                {{ form.csrf_token() }}
                                {{ form.number(id="modal-input", style="display: none") }}
                                {{ form.submit(class="btn-primary ms-3", id="submit-modal-btn") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <div class="w-auto sm-max:mt-2 -mt-72">
        <div class="element-center">
            <div class="card-simple lg:w-[760px] md-max:w-full">
                <div class="w-full h-full">
                    <div class="card-header bg-green-100 mb-1">
                        <h2 class="card-title">Chọn số may mắn</h2>
                    </div>
                    <div class="card-content bg-white mt-4 w-auto mb-4 h-auto ring-1 ring-amber-100 ring-opacity-10">
                        <div class="mb-4">
                            <div class="flex justify-center items-center">
                                <h3 class="w-auto text-xl md-max:text-2xl font-bold me-4 sm-max:mb-2">Sự
                                    kiện:
                                    "{{ events['event_name'] }}"</h3>
                                <button type="button" id="giftRule" title="Xem giải thưởng"
                                        class="hidden font-normal text-base text-green-500 hover:text-green-700">(Giải
                                    thưởng)
                                </button>
                            </div>

                            <p class="hidden" id="turn_choose">{{ user['turn_roll'] }}</p>
                            {% if number_rolled %}
                                <p class="w-auto text-xl text-center md-max:text-2xl sm-max:mb-2">Tài khoản
                                    "{{ user['username'] }}"
                                    đã chọn {{ turn_chosen }} số, bạn còn
                                    <strong>{{ user['turn_roll'] - turn_chosen }}</strong> lượt chọn số.</p>
                            {% else %}
                                <p class="w-auto text-xl text-center md-max:text-2xl sm-max:mb-2">Tài khoản
                                    "{{ user['username'] }}"
                                    được chọn
                                    <strong>{{ user['turn_roll'] }}</strong> số.</p>
                            {% endif %}
                        </div>
                        <div class="element-center max-w-sm mx-auto">
                            <div class="mb-3 mt-3">
                                <label for="input-search-number"
                                       class="block mb-2 text-sm font-medium md:text-base md-max:text-xl text-gray-900 dark:text-white text-center">Nhập
                                    số cần tìm</label>
                                <input type="text" id="input-search-number"
                                       class="input-e w-[300px] md-max:w-full md-max:text-xl xl-max:text-xl"
                                       placeholder="Tìm số"
                                       title="Nhập số cần tìm"
                                >
                            </div>
                        </div>

                        <div class="mt-3">
                            <div class="my-1">
                                <h4 class="text-base text-center" style="display: none;">Các số đã chọn</h4>
                            </div>
                            <div class="flex justify-center w-auto">
                                <div id="show-selected-number"
                                     class="w-auto md-max:w-full grid grid-cols-5 md-max:grid-cols-4 xl-max:text-xl">
                                </div>
                            </div>
                        </div>

                        <div class="element-center mb-3">
                            <button type="button" class="button-simple-green" id="open-modal-btn"
                                    title="Xác nhận chọn số">
                                Xác nhận
                            </button>
                            <button type="button" id="randNum"
                                    class="mt-2 rounded-md bg-green-100 px-4 py-2 text-sm font-medium text-green-800 hover:bg-green-400 hover:ring-1 hover:ring-slate-400 ms-2 md-max:ms-1 md-max:px-2 md-max:w-auto">
                                Ngẫu nhiên
                            </button>
                        </div>
                        <div id="user-id" class="hidden">{{ user['_id'] }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hidden-selected"></div>
        <div id="group-data">
            <div class="mx-32 w-auto md-max:mx-4">
                <div id="item-selecting" style="display: none">
                    {% if number_rolled %}
                        <h2 class="text-2xl">Các số đã chọn. Click chọn lại hoặc chọn số khác</h2>
                        <div class="w-auto grid grid-cols-5">
                            {% for number in number_rolled %}
                                <p id="li-{{ number }}"
                                   class="group-item"
                                   title="Nhấn để chọn số"
                                >{{ number }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <h3 class="text-2xl">Các số khả dụng:</h3>
            </div>
            <div class="w-auto mx-32 my-4 grid grid-cols-10 lg-max:mx-4 lg-max:grid-cols-6 ">
                {% for number in number_list %}
                    <p id="li-{{ number }}"
                       class="group-item"
                       title="Nhấn để chọn số"
                    >{{ number }}</p>
                {% endfor %}
            </div>

        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/modal-confirm.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/svg.js') }}"></script>
    <script type="module">
        import addElement from "../../static/scripts/helper.js";

        const inputSearch = document.querySelector('#input-search-number');
        const showListSelected = document.querySelector('#show-selected-number')
        const groupData = document.querySelector('#group-data')
        let listItem = groupData.querySelectorAll('.group-item')
        const userId = document.getElementById('user-id')
        const turnChoose = parseInt(document.getElementById('turn_choose').innerText)
        const hiddenPlace = document.getElementById('hidden-selected')
        const giftRuleBtn = document.getElementById('giftRule')
        const randomNumber = document.getElementById('randNum')

        giftRuleBtn.onclick = function () {
            let giftRuleImg = document.getElementById('giftRuleImage')
            giftRuleImg.style.display = 'block'
        }

        randomNumber.onclick = RandomChoice

        // Live searching navigate function
        let inputSearchEvent = (e) => {
            liveSearch(e, listItem, showListSelected)
        }
        // Live search Event
        inputSearch.addEventListener('input', inputSearchEvent)
        // Live search main function
        listItem.forEach((item) => {
            item.onclick = () => {
                let item_value = item.textContent.trim()
                let limit = checkLimit()
                if (limit) {
                    alert(`Bạn đã chọn ${turnChoose} số, loại bỏ số hiện tại để chọn số mới.`)
                } else {
                    clickAddItem(item, item_value, showListSelected)
                }
            }
        })

        // Get selected number
        const placeSelecting = document.getElementById('item-selecting')
        const selecting = placeSelecting.querySelectorAll('.group-item')
        // Show selected number to chosen place function
        selecting.forEach(item => {
            let item_value = item.textContent.trim()
            clickAddItem(item, item_value, showListSelected)
        })

        // Function handling search item
        function liveSearch(e, listItem, showListSelected) {
            let value = e.target.value.toLowerCase()
            listItem.forEach((item) => {
                let item_value = item.textContent.trim()
                if (item_value.includes(value)) {
                    let arrCurrent = currentSelecting()
                    if (!arrCurrent.includes(item_value)) {
                        item.style.display = 'block'
                    }
                    item.onclick = onClickLiveSearch
                } else {
                    setTimeout(() => {
                        item.style.display = 'none'
                    }, 50)
                }
            })
        }

        function RandomChoice(e) {
            let min = 1;
            let max = 20;
            let random = Math.floor(Math.random() * (max - min + 1) + min)
            let arrResult = currentSelecting()
            if (arrResult.includes(random.toString())) {
                if(arrResult.length < max) {
                    console.log("Trùng số: " + random + " rerandom")
                    return RandomChoice(e)
                } else {
                    alert("Không thể chọn ngẫu nhiên")
                }
            } else  {
                let limit = checkLimit(e)
                if (limit) {
                    alert(`Bạn đã chọn ${turnChoose} số, loại bỏ số hiện tại để chọn số mới.`)
                } else {
                    let item = document.getElementById(`li-${random.toString()}`)
                    if(item === null){
                        return RandomChoice(e)
                    }
                    let item_value = item.textContent.trim()
                    clickAddItem(item, item_value, showListSelected)
                }
            }
        }

        function onClickLiveSearch(e) {
            let limit = checkLimit()
            if (limit) {
                alert(`Bạn đã chọn ${turnChoose} số, loại bỏ số hiện tại để chọn số mới.`)
            } else {
                clickAddItem(e.target, e.target.innerHTML.trim(), showListSelected)
            }

            setTimeout(() => {
                inputSearch.value = ''
            }, 50)
            listItem.forEach(item => {
                let arrResult = currentSelecting()
                if (arrResult.includes(item.innerText.trim())) {
                    arrResult.splice(arrResult.indexOf(item.innerText.trim()), 1)
                } else {
                    setTimeout(() => {
                        item.style.display = 'block'
                    }, 50)
                }
            })
        }

        // Show item selected place at choosing position
        function updatePlaceSelectingDisplay() {
            let hasDisplayedItem = false;
            selecting.forEach(item => {
                if (item.style.display === 'block') {
                    hasDisplayedItem = true;
                }
            });
            placeSelecting.style.display = hasDisplayedItem ? 'block' : 'none';
        }

        // Function handle clicking to add item to place showing selected item
        function clickAddItem(item, item_value, showListSelected) {
            item.style.display = 'none'
            let arrResult = currentSelecting()
            if (arrResult.includes(item_value)) {
                alert(`Không thể chọn số ${item_value}`)
            } else {
                let addItem = addElement(showListSelected, {
                    createTag: 'p',
                    options: {
                        id: `li-result-${item_value}`,
                        className: 'item-card',
                        title: `Số ${item_value.toString()}`,
                        innerHTML: `<span class="item-list">${item_value.toString()}</span>`
                    }
                })

                let removeButton = addElement(addItem, {
                    createTag: 'button',
                    options: {
                        id: `btn-remove-${item_value}`,
                        className: 'item-button',
                        title: `Bỏ chọn số ${item_value.toString()}`,
                        innerHTML: xButton
                    }
                })
                const removeBtnE = document.getElementById(removeButton.id)
                removeBtnE.onclick = function (evn) {
                    evn.preventDefault()
                    addItem.remove()
                    removeButton.remove()
                    item.style.display = 'block'
                    updatePlaceSelectingDisplay()
                }
                updatePlaceSelectingDisplay()
            }
        }

        function checkLimit() {
            let limit = false
            let numberChosen = showListSelected.querySelectorAll("p.item-card")
            numberChosen = Array.from(numberChosen).length
            if (numberChosen >= turnChoose) {
                limit = true
            }
            return limit
        }

        function currentSelecting() {
            let groupChosen = showListSelected.querySelectorAll('.item-card')
            let arrResult = []
            for (let i of groupChosen) {
                arrResult.push(i.innerText.trim())
            }
            return arrResult
        }
    </script>
    <script type="text/javascript">
        JdFormModal({
            idOpenModal: 'open-modal-btn',
            idCloseModal: 'close-modal-btn',
            idModalParent: 'overlay',
            idMainModal: 'main-modal',
            idShowNumberToConfirm: 'show-selected-number',
            idModalForm: 'modal-form',
            idModalInput: 'modal-input',
            idModalConfirm: 'confirm-result'
        })
    </script>
{% endblock %}
