{% extends 'layouts/layout.html' %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
{% endblock header %}
{% block content %}
    <div class="m-4 max-w-full">
        <div class="grid grid-cols-3 lg-max:grid-cols-1 my-8">
            <div class="lg-max:element-center mb-4">
                <h2 class="text-2xl font-bold">
                    <a href="{{ url_for('event.event_detail', _id=context._id) }}">
                        {{ context.event_name }}
                    </a>
                </h2>
            </div>
            <div class="flex lg:justify-end lg:items-center flex-wrap-reverse col-span-2">
                <form class="w-[480px] text-center md-max:mx-auto">
                    <label for="search_account"
                           class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Tìm kiếm</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                            </svg>
                        </div>
                        <input type="search" id="search_account" name="search_account"
                               class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                               placeholder="VN123, ABC12...">
                        <button type="submit"
                                class="text-white absolute end-2.5 bottom-2.5 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Tìm kiếm
                        </button>
                    </div>
                </form>
            </div>

        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="table-1">
                <thead class="table-1-h">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Mã KH
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tên KH
                    </th>
                    <th scope="col" class="px-3 py-3 text-end">
                        Tổng điểm
                    </th>
                    <th scope="col" class="px-3 py-3 text-end">
                        Điểm dư
                    </th>
                    <th scope="col" class="px-3 py-3 text-end">
                        Tổng tem
                    </th>
                    <th scope="col" class="px-3 py-3 text-end">
                        Tem đã chọn
                    </th>
                    <th scope="col" class="px-3 py-3 text-end">
                        Tem dư
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for acc in context.user_list %}
                    <tr class="table-1-b">
                        <td class="px-6 py-4">
                            {{ acc.usercode }}
                        </td>
                        <td class="px-6 py-4">
                            {% if 'fullname' in acc %}
                                {{ acc.fullname }}
                            {% endif %}
                        </td>
                        <td class="px-6 py-4 font-medium text-green-600 text-end">
                            {{ acc.user_point }}
                        </td>
                        <td class="px-6 py-4 font-medium text-end">
                            {% if 'rest_point' in acc %}
                                <span class="text-red-600">{{ acc.rest_point }}</span>
                            {% else %}
                                <span class="text-green-600">0</span>
                            {% endif %}
                        </td>
                        <td class="px-6 py-4 font-medium text-green-600 text-end">
                            {{ acc.turn_roll }}
                        </td>
                        <td class="px-6 py-4 font-medium text-end">
                            {% if 'number_choices' in acc %}
                                <span class="text-green-600">{{ acc.number_choices }}</span>
                            {% else %}
                                <span class="text-red-600">0</span>
                            {% endif %}
                        </td>
                        <td class="px-6 py-4 font-medium text-end">
                            {% if 'rest_choices' in acc %}
                                <span class="text-red-600">{{ acc.rest_choices }}</span>
                            {% elif acc.rest_choices == 0 %}
                                <span class="text-green-600">{{ acc.rest_choices }}</span>
                            {% else %}
                                <span class="text-red-600">{{ acc.turn_roll }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="element-center m-8">
            {% if context.current_page > 1 %}
                <button type="button"
                        onclick="window.location.href='{{ url_for('event.event_detail', _id=context._id, page=context.current_page - 1, search_account=context.s_query) }}'"
                        class="bg-green-800 px-6 spy-1 text-white font-semibold text-lg rounded-s-lg hover:bg-emerald-700">
                    Trang trước
                </button>
            {% endif %}
            <div class="px-[1px]"></div>
            {% if context.current_page < context.max_page %}
                <button type="button"
                        onclick="window.location.href='{{ url_for('event.event_detail', _id=context._id, page=context.current_page + 1, search_account=context.s_query) }}'"
                        class="bg-green-800 px-6 spy-1 text-white font-semibold text-lg rounded-e-lg hover:bg-emerald-700">
                    Trang sau
                </button>
            {% endif %}
        </div>
    </div>

{% endblock %}
