{% extends 'layouts/layout.html' %}
{% block content %}
    <div class="flex justify-center items-center">
        <div class="card-simple md-max:w-full w-[800px]">
            <div class="rounded mx-auto text-center font-bold">
                <h3 class="text-4xl">Tạo lại mật khẩu</h3>
                <p>Tài khoản: {{ account.username }}</p>
            </div>
            <div class="mt-2">
                <form method="POST" action="{{ url_for('auth.reset_password', _id=account._id) }}" class="max-w-sm mx-auto">
                    {{ form.csrf_token() }}
                    <fieldset>
                        <div class="mb-5">
                            {{ form.new_password.label(class="input-label") }}
                            {% if form.new_password.errors %}
                                {{ form.new_password(class="form-input is-invalid") }}
                                {% for error in form.new_password.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.new_password(class="form-input", placeholder="Nhập mật khẩu mới") }}
                            {% endif %}
                        </div>

                        <div class="mb-5">
                            {{ form.confirm_password.label(class="input-label") }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-input is-invalid") }}
                                {% for error in form.confirm_password.errors %}
                                    <div class="invalid-feedback">
                                        <span>{{ error }}</span>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ form.confirm_password(class="form-input", placeholder="Xác nhận mật khẩu mới") }}
                            {% endif %}
                        </div>

                        <div class="form-group mt-2 flex justify-center items-center">
                            {{ form.submit(class="btn-primary") }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
