{% extends 'layouts/layout.html' %}
{% block content %}
    <div class="container">
        <div class="col-md-6 offset-3">
            <div class="card mt-lg-4">
                <div class="card-header">
                    <h1>Tạo lại mật khẩu</h1>
                    <p>Tài khoản: {{ account.username }}</p>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('auth.reset_password', _id=account._id) }}">
                        {{ form.csrf_token() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.new_password.label(class="form-control-label", type="password") }}
                                {% if form.new_password.errors %}
                                    {{ form.new_password(class="form-control is-invalid") }}
                                    {% for error in form.new_password.errors %}
                                        <div class="invalid-feedback">
                                            <span>{{ error }}</span>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {{ form.new_password(class="form-control", placeholder="Nhập mật khẩu mới") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.confirm_password.label(class="form-control-label", type="password") }}
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control is-invalid") }}
                                    {% for error in form.confirm_password.errors %}
                                        <div class="invalid-feedback">
                                            <span>{{ error }}</span>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {{ form.confirm_password(class="form-control", placeholder="Xác nhận mật khẩu mới") }}
                                {% endif %}
                            </div>

                            <div class="form-group mt-2">
                                {{ form.submit(class="btn btn-primary") }}
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
