{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <!-- Card modal -->
            <div id="parent-{{ category }}" tabindex="-1"
                 class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 bg-slate-700 bg-opacity-75 justify-center items-center w-full md:inset-0 h-full">
                <div class="grid place-items-center mt-40 sm-max:mt-28">
                    <div class="card-simple rounded-md lg:w-[760px] md-max:w-auto" id="flash-modal-{{ category }}">
                        <div class="w-full h-full">
                            <div class="card-header rounded-t-md {{ category }} mb-1">
                                <h2 class="card-title text-{{ category }}">
                                    {% if category == "danger" %}
                                        Nguy Hiểm
                                    {% elif category == "success" %}
                                        Thành Công
                                    {% else %}
                                        Cảnh Báo
                                    {% endif %}
                                </h2>
                            </div>
                            <div class="card-content mt-4 w-auto h-auto ring-1 ring-amber-100 ring-opacity-10">
                                <div class="element-center">
                                    <p class="w-auto text-xl md-max:text-2xl">{{ message }}</p>
                                </div>
                                <div class="flex items-center justify-center me-4">
                                    <button type="button" class="button-simple"
                                            id="close-flash-modal-btn-{{ category }}">Đóng
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                const modalParent = document.getElementById('parent-{{ category }}');
                const closeModalButton = document.getElementById('close-flash-modal-btn-{{ category }}')

                if (modalParent.style.display !== 'none') {
                    document.addEventListener('wheel', preventDefault, {passive: false});
                    document.addEventListener('touchmove', preventDefault, {passive: false});
                    document.addEventListener('keydown', inputKey, {passive: false});
                }

                function preventDefault(event) {
                    event.preventDefault();
                }

                function inputKey(event) {
                    switch (event.code) {
                        case 'ArrowLeft':
                        case 'ArrowRight':
                        case 'ArrowUp':
                        case 'ArrowDown':
                            event.preventDefault();
                            break
                        case 'Enter':
                        case 'Escape':
                            console.log("Close modal")
                            closeModal()
                            break
                        case 'Space':
                            event.preventDefault();
                            closeModal()
                            break
                    }
                }

                function closeModal() {
                    modalParent.style.display = "none";
                    document.removeEventListener('wheel', preventDefault);
                    document.removeEventListener('touchmove', preventDefault);
                    document.removeEventListener('keydown', inputKey)
                }

                modalParent.onclick = function (e) {
                    switch (e.target) {
                        case(modalParent):
                        case(modalParent.firstElementChild):
                        case(closeModalButton):
                            closeModal()
                    }
                }
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
