<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="Og0FhgivFCwZ32ntgq0sGvajkT1efhn61dp7tdjzTR8"/>
    <title>
        Demo {% if title %}- {{ title }}{% endif %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/alpinejs-logo.png') }}">
    <!-- Load tailwindcss !-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tailwind.min.css') }}">
    <!-- Load source from child page !-->
    {% block header %}{% endblock header %}
</head>
<body>
<!-- Flash message Jinja blog content !-->
{% include 'layouts/flash.html' %}
<!-- Navigation bar of page !-->
{% include 'layouts/navbar.html' %}
<!-- Block to insert content !-->

{% block content %}

{% endblock content %}

{% include 'layouts/bottom_nav.html' %}

<!-- Load Javascript !-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>
</html>
